<header class="topHeader" id="topHeader" style="display:none;">
  <div class="topHeaderLeft">
    <div class="badge">LSPD</div>
    <div>
      <div class="topHeaderTitle" id="globalHeaderTitle">LSPD</div>
      <div class="topHeaderSub" id="globalHeaderSub">System</div>
    </div>
  </div>

  <div class="topHeaderRight">
    <span class="pill">
      <span class="dot off" id="connDot"></span>
      <span>Leitstelle</span>
    </span>
    <button class="btn btnDanger" id="btnLogout">Logout</button>
  </div>
</header>
