<div class="loginOverlay" id="loginOverlay" style="display:none;">
  <div class="loginCard">
    <div class="loginHeader">
      <div class="badge">LSPD</div>
    </div>

    <div class="loginBody">
      <label>Name</label>
      <input id="inpLoginName" placeholder="Name" autocomplete="username"/>

      <div style="height:10px"></div>

      <label>Passwort</label>
      <input id="inpLoginPw" type="password" placeholder="Passwort" autocomplete="current-password"/>

      <div class="loginErr" id="loginErr">—</div>

      <div style="height:12px"></div>

      <button class="btn btnPrimary" id="btnLogin">Login</button>
    </div>
  </div>
</div>
